{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" >
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="row full-screen align-items-center" >
  <div class="col-lg-7">
    <h1 class="logo text-dark">PROJECT ROADWATCH <span class="text-danger">API</span></h1>
  </div>
  <div class="col-lg-5">

    <div class="row" id="loginForm">
      <div class="container container-mini">
        <h2 class="text-center">Get Access</h2>

        {% if signup %}
          {% set active_in = None %}
          {% set checked_in = None %}
          {% set active_up = 'active' %}
          {% set checked_in = 'checked' %}
          {% set action = '/signup' %}
        {% else %}
          {% set active_in = 'active' %}
          {% set checked_in = 'checked' %}
          {% set active_up = None %}
          {% set checked_in = None %}
          {% set action = '/signin' %}
        {% endif %}
        <div class="btn-group btn-group-toggle mt-3" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-secondary {{ active_in}}" id="signin">
            SIGN IN
            <input type="radio" name="signin" autocomplete="off" {{checked_in}}>
          </label>
          <label class="btn btn-sm btn-outline-secondary {{ active_up}}" id="signup">
            SIGN UP
            <input type="radio" name="signup" autocomplete="off" {{ checked_up }} >

          </label>
          <!--
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="options" id="forgot" autocomplete="off"> FORGOT
          </label>
          -->
        </div>
        <small id="actionHelp" class="form-text text-muted mb-3">FORGOT your password? </small>

        <form class="mx-auto" id="authForm" action="{{ action }}" method="POST">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
           <label for="password">Password</label>
           <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>


          <!-- Confirm password -->
          {% if signup %}
            <div class="form-group" id="confirm-password-group" >
             <label for="confirm-password">Confirm Password</label>
             <input type="password" class="form-control" name="confirmPassword" id="confirm-password" placeholder="Password">
            </div>
            {% set button_title = 'SIGN UP' %}
          {% else %}
            {% set button_title = 'SIGN IN'%}
          {% endif %}
         <button type="submit" id="sub-data" class="btn btn-outline-dark btn-block mt-4">{{ button_title }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='auth.js')}}" ></script>
<script type="text/html" id="confirm-pw-template">
<div class="form-group" id="confirm-password-group" >
 <label for="confirm-password">Confirm Password</label>
 <input type="password" class="form-control" name="confirmPassword" id="confirm-password" placeholder="Password">
</div>
</script>
{% endblock %}
